@import "tailwindcss";

*{
    --green: #809d84;
    --dark-green:#3b5d40;
    --shadow: inset 4px 6px 0px 0px #d6d3c2;
}

.optionStyle{
    width: 7.5rem;
    height: 2.5rem;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    font-weight: 500;
}