@import "tailwindcss";

*{
    --green: #809d84;
}

.optionStyle{
    width: 7.5rem;
    height: 2.5rem;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    font-weight: 500;
}